.main {
    color:$white;
    padding-top:50px;
}

.portfolio{
    padding:50px 0px;
    // height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    // border:1px solid red;
    &__title{
        @include bodyTitle(bold);
        margin:0;
        color:black;

        &--lines{
            @include lines(relative);
            &:before,
            &:after {
                top:40px;
            }
            &:before{
                width:105%;
                left:-2%;
            }
            &:after{
                width:90%;
                left:5%;
            }
        }
    }

    &__content {
        display:flex;
        justify-content: space-between;
        margin-top:25px;
    }
    &__body-text{
        @include bodyStyle(center);
        color:black;
        margin-top:25px;
    }

    &__computer-screen{
        position:relative;
        margin-top:25px;
        justify-content: space-around;
    }

    &__computer-screen--project{
        position: absolute;
        top: 55px;
        left: 35px;
        right:0;
        bottom: 0;
        width:529px;
        height:313px;
    }

    &__computer-screen--hover{
        z-index:10;
        background:$primaryColor;
        position: absolute;
        top: 55px;
        left: 0;
        right:0;
        bottom: 0;
        width:529px;
        height:313px;
        display:flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
    }
    &__computer-screen--hover:hover{
        opacity: 1;
    }

   
    &__computer-screen--github,
    &__computer-screen--live{
        @include button(center);
        color:black;
    }
    &__computer-screen--github{
        margin-left:10px;
    }
    &__computer-screen--live{
        margin-right:10px;
    }
    &__computer-screen--github:hover,
    &__computer-screen--live:hover{
        background: black;
        color:$primaryColor
    }
    &__info{
        @include bodyStyle(center);
        color:black;

    }
    &__language-used--abr{
        font-weight:bold;
    }
    &__project-title{
        @include bodyTitle(center);
        font-size:30px;
    }
    
}

.portfolio--white-background{
    background:#fafafa;
}

.portfolio__language-used--fly-swatter{
    // font-weight:normal;
    color:#1de1f9;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #00000050;
}

.portfolio__language-used--country-comparison{
    color:#6a8cf1;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #0000007c;
}

.portfolio__language-used--middl{
    color:#0d6978;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #0000007c;
}

.portfolio__language-used--down-to-cuddle{
    color:#69bde6;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #0000007c;
}